@page "/"
@using Beadando.Contract;
@inject HttpClient HttpClient

@if (Jobs is null)
{
        <p>Loading...</p>
}
else
{
        <h3>Szerelések</h3>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Ügyfél neve</th>
                    <th>Autó típusa</th>
                    <th>Autó rendszáma</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            @foreach (var job in Jobs)
            {
                <tr>
                    <td>@job.ClientName</td>
                    <td>@job.CarType</td>                    
							<td>@job.LicensePlateNumber</td>  <td><a href="jobs/@job.Id" class="btn bth-primary">Details</a> </td>

                </tr>
            }
            </tbody>
        </table>        
}

@code {
    private IEnumerable<Job> Jobs { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Jobs = await HttpClient.GetFromJsonAsync<IEnumerable<Job>>("Jobs");
    }
    /*                    <th>Gyártási év</th>
                    <th>Munka kategória</th>
                    <th>Az autó hibájának rövid leírásaa</th>
                    <th>Munkaóra esztimáció</th>
                    <th>A hiba súlyossága (1-10)</th>

                      <td>@job.ManufacturingYear</td>
                    <td>@job.Category</td>
                    <td>@job.Description</td>
                    <td>@job.ManHourEstimation</td>
                    <td>@job.Status</td>
    */
}